{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
    <div class="card">
        {{ todo }}
        <p>Title: {{ todo.title }}</p>
        <br>
        <p>Description: {{ todo.description}}</p>
        <p>Status: {{ todo.is_completed}}</p>
        <p>Create time: {{ todo.created_at}}</p>
        <p>Update time: {{ todo.updated_at}}</p>
    </div>
    <form action="{% url 'todo_detail' todo.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
