.first-link {
    text-decoration: none;
    color: #000;
    }
    
.first-link:hover {
    color: blue;
    }
    
.first-link:visited {
    color: green;
    }
.first-link:active{
        color: red;
    }
.second-link {
    text-decoration: none;
    color: blue;
    }

.second-link:hover {
    color: red;
    }

.second-link:visited {
    color: orangered;
    }
.second-link:active {
    color: yellow;
}