<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Blog</title>
        <link href="styles.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="nav-bar">
            <ul class="navbar-items">
                <li class="create-post">Create Post</li>
                <li class="category">Category</li>
                <li class="authors">Author</li>
            </ul>
        </nav>
    </body>